@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
/* Tailwind imports (must be at the top) */
@import "tailwindcss";
/* import "./globals.css";
import "@/styles/style1.css";
import "@/styles/style2.css";
import "@/styles/style3.css";
import "@/styles/style4.css";
import "@/styles/style5.css";
import "@/styles/style6.css"; */
/* Slick Carousel */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';

html, body {
  overflow-x: hidden;
}
header {
  transition: all 0.3s ease;
}

/* .nav-link {
  @apply text-white text-[15px] font-medium;
}

.dropdown {
  @apply absolute top-full left-0 hidden bg-white shadow-xl;
} */

.group:hover .dropdown {
  display: block;
}
/* ===================== Light & Dark mode color vars ===================== */
:root {
  --primaryPink: #ff497c;
  --background: #ffffff;
  --foreground: #171717;
   --dogwoodRose: #da1969;
  --jazzberryJam: #a2104c;
  --disabledColor: #e9ebef;
  --osloGray: #84878b;
  --borderColor: rgb(232, 235, 239);
  --blackSqueeze: #f7fafc;
  --codGray: #141414;
  --tundora: #4a4a4a;
  --taupeGray: #8b8b8b;
}



@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ===================== Global Body ===================== */
body {
  /* background: var(--background);
  color: var(--foreground); */
  body {
    font-family: "Poppins", Arial, Helvetica, sans-serif;
  }}

/* ===================== Custom Turquoise Scrollbar ===================== */
/* Chrome, Edge, Safari */
@media (min-width: 992px) {
  .container-fluid {
    padding-right: 15px;
    padding-left: 15px;
  }
}
@media (min-width: 1200px) {
  .container-fluid {
    padding-right: 45px;
    padding-left: 45px;
  }
}
@media (min-width: 1600px) {
  .container-fluid {
    padding-right: 65px;
    padding-left: 65px;
  }
  .boxed .container-fluid {
    padding-right: 55px;
    padding-left: 55px;
  }
}
@keyframes scaleDisappear {
  0% {
    opacity: 1;
    transform: scale(1);
  }

  60% {
    opacity: 0;
    transform: scale(1.3);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.teaser-card:hover .teaser-icon {
  animation: scaleDisappear 350ms ease-in-out;
}
@font-face {
  font-family: "rt-icons-2";
  src:
    url("/fonts/rt-icons-2.ttf") format("truetype");
  font-display: block;
}
/* @font-face {
  font-family: "socicon";
  src: url("/fonts/socicon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
} */

[class^="rt-icon2-"],
[class*=" rt-icon2-"] {
  font-family: "rt-icons-2";
  font-style: normal;
  font-weight: normal;
  display: inline-block;
  line-height: 1;
}
/* .soc-facebook:before{content:"\e041"}
.soc-linkedin:before{content:"\e049"}
.soc-twitter:before{content:"\e040"}
.soc-youtube:before{content:"\e051"}
.soc-google:before{content:"\e067"} */


.rt-icon2-phone5:before {
  content: "\e664";
}
.rt-icon2-pen:before {content: "\e65c";}
.rt-icon2-user:before {content: "\e654";}
.rt-icon2-diamond2:before {content: "\e65d";}
.rt-icon2-like:before {content: "\e667";}


.rt-icon2-location2:before 
{content: "\e65f";}

.rt-icon2-pin-alt:before {
  content: "\e6b3";
  color: #ff497c;

}


@font-face {
  font-family: "socicon";
  src: url("/fonts/socicon.woff2") format("woff2"),
       url("/fonts/socicon.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.social-icon {
  display: inline-block;
  width: 36px;
  height: 36px;
  text-align: center;
  line-height: 36px;
  text-decoration: none;
  font-family: "socicon";
  font-size: 16px;
  transition: all 0.3s ease;
}

.social-icon:before {
  font-family: "socicon";
}

.soc-facebook:before {
  content: "\e041";
  color: #3b5998;
}

.soc-twitter:before {
  content: "\e040";
  color: #55acee;
}

.soc-google:before {
  content: "\e067";
  color: #dd4b39;
}

.soc-youtube:before {
  content: "\e051";
  color: #e52d27;
}

.soc-linkedin:before {
  content: "\e049";
  color: #0976b4;
}

.social-icon:hover {
  transform: translateY(-2px);
}

/* footer */
.page-footer {
  background-color: #191f28;
}

.social-icon {
  font-size: 14px;
  text-decoration: none;
  transition: all 0.3s ease;
}



.p-view::before {
  content: "\f002";
  font-family: FontAwesome;
  font-size: 24px;
}

/* blog icons footer */
.views-count:before {
  content: "\f06e";   /* eye */
}

.comment-count:before {
  content: "\f086";   /* comment */
}

.like-count:before {
  content: "\f004";   /* heart */
}

.share_button i {
  font-family: FontAwesome;
}

/* carrer page sliding message */
@keyframes marquee {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  display: inline-block;
  animation: marquee 30s linear infinite;
}

/* contact page form shimmer sweep */
@keyframes shimmer {
  0%   { transform: translateX(-100%); }
  100% { transform: translateX(200%); }
}

